<div class="container-fluid">
	<div class="row">
            <div class="col-md-9">
                <div class="page-header">
                    <h1>
                        Minerva <small>HEF...</small>
                    </h1>
                    <div class="col-md-3" style="background-color:lightgoldenrodyellow; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <div *ngFor="#menuItem of resources.menuItems">
                            <div>{{menuItem.category}}</div>
                            <div *ngFor="#component of menuItem.components">
                                <a [routerLink]="[component]">{{component}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="background-color:whitesmoke; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <div class="col-md-6">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
